<div class="card">
	<div class="card-body">
		<h5 class="card-title">List of users</h5>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Age</th>
					<th scope="col">City</th>
					<th scope="col">Postal Code</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @authors.each do |author| %>
				<tr>
					<th scope="row"><%= author.id%></th>
					<td><%= author.name %></td>
					<td><%= author.age %></td>
					<td><%= author.city %></td>
					<td><%= author.postal %></td>
					<td><%= link_to 'Edit Author Details', edit_author_url(author) %></td>
					<td><%= link_to 'Show Author Details', author_url(author) %></td>
					<td><%= link_to 'Destroy', author_url(author),
						data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
					</tr>
					<% end %>

				</tbody>
			</table>
			<%= link_to 'Create New Record', new_author_url %>
		</div>
	</div>

