<!DOCTYPE html>
<html>
<head>
  <title>BooksApp</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="style"></script>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="javascript_include_tag" type="text/js" href="style">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

</head>

<body>
  
  <%= render 'shared/nav_bar' %>

  <%= yield %>
  
</body>
</html>
